@model EmployeeModel

@{
    ViewData["Title"] = "GetEmployeeById";
}

<h1>GetEmployeeById</h1>
<div>@Model.Empid</div>

@*<div class="container">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        Song Name
                    </th>
                    <th scope="col">
                        Song Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Empname
                    </td>
                    <td>
                        @Model.Email
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>*@
